
    
    <style>

    .about-content {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
    }
    
    .about-h2 {
        font-size: 24px;
        color: #333;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .about-p {
        font-size: 16px;
        color: #666;
    }
    
    .about-ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    
    .about-li {
        margin-bottom: 5px;
    }
    
    
    </style>
    
    <div class="about-content">
    <section class="about-content">
        <h2 class="about-h1" >Our Story</h2>
        <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in magna id mauris dignissim tempus.</p>
        <h2 class="about-h2">Our Team</h2>
        <ul class="about-ul">
            <li class="about-li">John Doe - Founder</li>
            <li class="about-li">Jane Smith - COO</li>
            <li class="about-li">Mike Johnson - CTO</li>
        </ul>
        <p class="about-p"><a href="{{ url_for('layout') }}">Back to Home</a></p>
    </section> 
    </div>