{% extends "layout.html" %}

{% block content %}
    <div class="record_header">
        <h2>Admission Records</h2>   
        <form class="download-button" method="post" action="/process_form"> 
            <button class="download-button" type="submit">Download Records</button>
        </form> 
    </div>
    <br>
    <table class="admission-table">
        <thead>
                <th>User_Id</th>
                <th>Record_ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.user_id }}</td>                    
                    <td>{{ record.id }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.dob }}</td>
                     <td>
                        <form method="post" action="{{ url_for('update_record', id=record.id) }}" onclick="return confirm('Are you sure you want to update this record?');">
                            <input class="update-button" type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <button class="delete-button" data-record-id="{{ record.id }}">Delete</button>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <p><a href="{{ url_for('layout') }}">Back to Home</a></p>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-button');
    
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const recordId = this.getAttribute('data-record-id');
    
                    if (confirm('Are you sure you want to delete this record?')) {
                        fetch(`/delete_record/${recordId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error('Failed to delete record');
                            }
                        })
                        .then(data => {

                            console.log(data);
                        })
                        .catch(error => {

                            console.error(error);
                        });
                    }
                });
            });
        });
    </script>
    
    
{% endblock %}
