<!-- {% extends "layout.html" %}

{% block content %} -->
<div id="admission-form">
    <div class="record_header">
        <h2>Admission Records</h2>
        <input type="text" id="searchInput" placeholder="Search...">   
        <button class="download-button" onclick="downloadExcel()">Download Excel</button>
    </div>
    <br>
    <table class="admission-table">
        <thead>
            <tr>
                <th>User_Id</th>
                <th>Record_ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.user_id }}</td>                    
                    <td>{{ record.id }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.dob }}</td>
                     
                    <td>
                        <button class="update-button" onclick="updateRecord({{ record.id }})">Update</button>
                    </td>
                    
                    <td>
                        <button class="delete-button" data-record-id="{{ record.id }}" onclick="deleteRecord({{ record.id }})">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <!-- <p><a href="{{ url_for('layout') }}">Back to Home</a></p> -->
    <p><a id="load-home" href="javascript:void(0)" onclick="loadHomeContent()">Back to Home</a></p>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchInput").on("input", function () {
            var value = $(this).val().toLowerCase();
            $("table.admission-table tbody tr").each(function () {
                var rowVisible = false;
                $(this).find("td").each(function () {
                    if ($(this).text().toLowerCase().indexOf(value) > -1) {
                        rowVisible = true;
                        return false; // exit the loop if a match is found in this row
                    }
                });
                $(this).toggle(rowVisible);
            });
        });
    });

    // Your existing JavaScript functions (e.g., updateRecord, deleteRecord, loadHomeContent)
</script>


    
<!-- {% endblock %} -->

