{% extends "layout.html" %}

{% block content %}
    <h2>Admission Records</h2>   
    <table class="admission-table">
        <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.dob }}</td>
                    <td><a href="#">Update</button></a>
                    <!-- <td><button onclick="showUpdateAlert({{ record.id }}, '{{ record.name|tojson|safe }}', '{{ record.email|tojson|safe }}', '{{ record.dob|tojson|safe }}')">Update</button></td> -->
                    <td>
                        <form method="post" action="{{ url_for('delete_record', id=record.id) }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="/process_form">
        <button type="submit">Download Records</button>
    </form>
    <p><a href="{{ url_for('layout') }}">Back to Home</a></p>
    
{% endblock %}
