<style>
    .contact-container {
      justify-content: space-around;
      align-items: center;
      display: flex;
    }
  
    .contact-information-container {
      padding-left: 10%;
      padding-bottom: 10%;
      text-align: center; /* Align text content to center */
    }
  
    .contact-details {
      flex: 1;
      margin-right: 20px; /* Adjust the margin based on your design */
    }
  </style> 

<div class="contact-container">
    <div class="contact-information-container">
        <h1 class="contact-h2">Call Us</h2>
        <p class="contact-p">Phone: Your Phone Number</p>

        <h2 class="contact-h2">Address</h2>
        <p class="contact-p">Your Address</p>
    </div>

    <div class="login-container shadow p-4 rounded">
        <h2 class="contact-h2">Contact Us</h2>

        <p class="contact-p">Please fill out the form below to get in touch with us:</p>

        <form class="contact-form" id="contactForm" method="POST" onsubmit="onContactSubmit(event)">
            <div class="form-outline mb-4">
                <input class="form-control" type="text" id="name" name="name" required>
                <label for="name">*Name:</label>
            </div>
        
            <div class="form-outline mb-4">
                <input class="form-control" type="tel" id="phone" name="phone" required>
                <label for="phone">*Phone Number:</label>
            </div>

            <div class="form-outline mb-4">
                <input class="form-control" type="email" id="email" name="email" required> 
                <label for="email">*Email :
                    <span id="email-verification-icon" style="display: none; color: green;"></span>                        </span>
                </label>
            </div>

            <div id='sendOtpContainer' class="form-outline mb-4">                
                <button id='btn-sendOtp' type="button" class="btn btn-primary mb-4 center-align" onclick="sendOTP()">Send OTP</button>
            </div>
            
            <div id="verifyOtpContainer" class="form-outline mb-4" style="display: none;">
                <input type="text" id="otp" name="otp" required>
                <label for="otp">Enter OTP:</label>            
                <button id='btn-verifyOTP' type="button" class="btn btn-primary center-align" onclick="verifyOTP()">Verify OTP</button>
            </div>
        
            <div class="form-outline mb-4">
                <textarea class="form-control" id="message" name="message" rows="4"></textarea>
                <label for="message">Message:</label>
            </div>
            <button type="submit" class="btn btn-primary mb-4 center-align">Submit</button>
        </form>
        
        
        <br>
        <p class="contact-p"><a id="load-home" href="javascript:void(0)" onclick="loadHomeContent()">Back to Home</a></p>
    </div> 

</div>


