
<div class="login-container shadow p-4 rounded">
        <div class="container">
            <form method="post" action="{{ url_for('record_user_edited', id=record.id) }}"  onsubmit="submitUpdateUserOrder({{ record.id }})">
                <div class="login-header">
                    <p class="h2 text-center">Edit Order</p>
                </div>
                <div class="form-outline mb-4">
                    <label for="course">Program :</label>
                    <input type="text" id="course" name="course" class="form-control" value="{{ record.course }}" required>
                    <span id="nameError" style="color: red;"></span>
                </div>
                <div class="form-outline mb-4">
                    <label for="course_id">Program ID :</label>
                    <input type="text" id="course_id" name="course_id" class="form-control" value="{{ record.course_id }}" required>
                    <span id="course_idError" style="color: red;"></span>
                </div>

                <button type="submit" class="btn btn-primary mb-4 center-align">Update</button>
            </form>
        </div>
    </div>


<!-- <p><a href="{{ url_for('layout') }}">Back to Home</a></p> -->
<p><a id="load-home" href="javascript:void(0)" onclick="loadHomeContent()">Back to Home</a></p>