

<form action="{{ url_for('display_record') }}" method="POST">
    <h2>Search the Record</h2>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <input type="submit" value="Submit">
</form>


<form action="{{ url_for('edit_record_by_id') }}" method="POST">
    <h2>Edit the Record</h2>
    <label for="record_id">ID of the Record to be Edited:</label>
    <input type="text" id="record_id" name="record_id" required>
    <input type="submit" value="Submit">
</form>


<form method="POST" action="{{ url_for('delete_record_by_id') }}">
    <h2>Delete the Record</h2>
    <label for="record_id">ID of the Record to Delete:</label>
    <input type="text" id="record_id" name="record_id" required>
    <input type="submit" value="Delete">
</form>



<!-- <p><a href="{{ url_for('layout') }}">Back to Home</a></p> -->
<p class="about-p"><a id="load-home" href="javascript:void(0)" onclick="loadHomeContent()">Back to Home</a></p>

