

<div class="login-container shadow p-4 rounded">
  <div class="container">
    <form id="forgotPasswordForm" onsubmit="submitPwdRecoveryForm(event)">
		<div class="login-header">
            <p class="h2 text-center">Forgot Password</p>
        </div>
	<div class="form-outline mb-4">
      <input type="text" id="username" name="username" class="form-control" required>
      <label for="username">Enter your username to reset your password:</label>
	</div>
      <button type="submit" class="btn btn-primary mb-4 center-align">Reset Password</button>
    </form>
</div>
</div>