<!DOCTYPE html>
<html>

<head>
    <title>School Admission</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iKl+uUZ+Kxh/c5Kx63uXtLl4i8/0p1uL7Q9DYgH5o/2n49t4mi4y9p1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="{{ url_for('static', filename='js/contactScript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forgotPassword.js') }}"></script>
    <script src="{{ url_for('static', filename='js/enrolledCources.js') }}"></script>
    <script src="{{ url_for('static', filename='js/userCredentials.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myDialogue.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sty2.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 

<body>                
    <nav class="navbar navbar-expand-sm bg-dark py-3 px-4">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{{ url_for('layout') }}">SSVM PUBLIC SCHOOL</a>
            <div class="navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item"><a class="nav-link active text-dark" aria-current="page" href="{{ url_for('layout') }}">Home</a></li> -->
                    <li class="nav-item"><a class = "nav-link text-white" id="load-user-credential" href="javascript:void(0)" onclick="loadUserCredential()">User Records</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="load-enrolled-courses" href="javascript:void(0)" onclick="showEnrolledCourse()">Enroll</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="load-contact-info" href="javascript:void(0)" onclick="showContact()">Contacts Info</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="load-course" href="javascript:void(0)" onclick="goToCourse()">Course</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="load-about" href="javascript:void(0)" onclick="loadAbout()">About</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="load-service" href="javascript:void(0)">Service</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="load-contact" href="javascript:void(0)">Contact</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="user-profile" href="javascript:void(0)" onclick="userProfile()">User Name</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="login-link" href="javascript:void(0)" onclick="loadLoginPage()">Login</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="signup-link" href="javascript:void(0)" onclick="signUp(event)">Signup</a></li>
                    <li class="nav-item"><a class = "nav-link text-white" id="logout-link" href="javascript:void(0)" onclick="confirmLogout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    
    <div id="content" class="content-container"></div>
    <div id="overlay"></div>

    <div id="floating-dialog">
        <div id="dialog-content"></div>
        <button onclick="closeDialog()">Close</button>
    </div>
    {% endblock %}
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images.jpg') }}" alt="Company Logo">
            </div>
            <div class="footer-info">
                <p>&copy; 2023 Your Company Name</p>
                <p>Contact us: contact@yourcompany.com</p>
            </div>
            <div class="footer-contact-us">
                <p class="footer-p"> New Delhi  </p>
                <p class="footer-p"> Canaught Place </p>
                <p class="footer-p"> Phone : 471415836 </p>
                <p class="footer-p"> Email : dfvj@gmail.com </p>
            </div>
            <div class="footer-social">
                <a class="footer-links" href="#"><i class="fa fa-facebook"></i></a>
                <a class="footer-links" href="#"><i class="fa fa-twitter"></i></a>
                <a class="footer-links" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eed8dfL9W1jwyjjrZvy5VfvXH+L2FTRdflHb8nLlq+9GY5F86QCExl5fwgoyqxfH" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            loadHomeContent();
        });
    
        function loadHomeContent() {
            fetch('/home_content')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error fetching content:', error);
                    // Redirect to the error page
                    window.location.href = '/error';
                });
        };
    </script>
    
    <script>
        // Set the timeout duration (in milliseconds)
        const inactivityTimeout = 600000; // 5 minutes
      
        let logoutTimer;
      
        function resetLogoutTimer() {
          clearTimeout(logoutTimer);
          logoutTimer = setTimeout(logoutDueToInactivity, inactivityTimeout);
        }
      
        function logoutDueToInactivity() {
          // Redirect to the logout URL
          window.location.href = '/logout';
        }
      
        // Add event listeners to reset the timer on user activity
        document.addEventListener('mousemove', resetLogoutTimer);
        document.addEventListener('keypress', resetLogoutTimer);
      
        // Initial setup
        resetLogoutTimer();
      </script>
      
    <script>function validateForm() {
        var nameInput = document.getElementById("name");
        var nameError = document.getElementById("nameError");
        var name = nameInput.value.trim();
        var namePattern = /^[A-Za-z\s\-']+$/;
    
        var emailInput = document.getElementById("email");
        var emailError = document.getElementById("emailError");
        var email = emailInput.value.trim();
        var emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
    
        var dobInput = document.getElementById("dob");
        var dobError = document.getElementById("dobError");
        var dob = dobInput.value.trim();
        // You can add date of birth validation here
    
        if (!namePattern.test(name)) {
            nameError.textContent = "Please enter a valid name.";
            return false;
        } else if (!emailPattern.test(email)) {
            emailError.textContent = "Please enter a valid email."
            return false;
        }
        
        else {
            nameError.textContent = "";
        }
    
        // Add similar validation for email and date of birth fields
    
        return true; // Allow form submission if all fields are valid
    }</script>

<script>
    // JavaScript to load "signup-link" section using AJAX
    // document.getElementById('signup-link').addEventListener('click', function(e) {
    function signUp(event){
        event.preventDefault(); // Prevent the default link behavior
        // Use AJAX to fetch the "signup" section content
		console.log("in signup in signup;");
        fetch('/signup')
            .then(response => response.text())
            .then(data => {
                // Insert the fetched content into the 'content' div
                document.getElementById('content').innerHTML = data;
            })
            .catch(error => {
                console.error('Error loading "signup" content:', error);
            });
    };

    function loadSignedIn() {
        event.preventDefault();
        // Get the form data
        const formData = new FormData(document.querySelector('.signup-form'));
		
        // Create an object from the form data
        const formDataObject = {};
        formData.forEach((value, key) => {
            formDataObject[key] = value;
        });

        // Convert the object to a JSON string
        const jsonData = JSON.stringify(formDataObject);
		console.log("in submiting signup form");
        // Make a POST request to the /logged_in endpoint with the form data
        fetch('/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: jsonData,
        })
            .then(response => response.json())
            .then(data => {
                console.log(`Record: ${JSON.stringify(data)}`);
                if (data.status) {
                    console.log(data.message);
					alert(`${JSON.stringify(data.message)}`)
                    loadLoginPage();
                } else {
                    console.log(`${JSON.stringify(data.message)}`);
                    alert(`${JSON.stringify(data.message)}`);
                    alert('Redirecting to Login')
                    loadLoginPage();
                }
            }).catch(error => {
			console.log("in error in error in error");
                console.error('Error fetching login form: ', error);
            });
    }
</script>

    <script>
        // JavaScript to load "About" section using AJAX
        function loadAbout() {
            // e.preventDefault(); // Prevent the default link behavior
            // Use AJAX to fetch the "About" section content
            fetch('/about')
                .then(response => response.text())
                .then(data => {
                    // Insert the fetched content into the 'content' div
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading "About" content:', error);
                });
        };
    </script>

    <script>
        // JavaScript to load "service" section using AJAX
        document.getElementById('load-service').addEventListener('click', function(e) {
            e.preventDefault(); // Prevent the default link behavior
            // Use AJAX to fetch the "About" section content
            fetch('/service')
                .then(response => response.text())
                .then(data => {
                    // Insert the fetched content into the 'content' div
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading "service" content:', error);
                });
        });
    </script>

<script>
    // JavaScript to load "register" section using AJAX
    // document.getElementById('user-profile').addEventListener('click', 
    
    function userProfile() {

        // e.preventDefault(); // Prevent the default link behavior
        // Use AJAX to fetch the "About" section content
        fetch('/user_profile')
            .then(response => response.text())
            .then(data => {
                // Insert the fetched content into the 'content' div
                document.getElementById('content').innerHTML = data;
            })
            .catch(error => {
                console.error('Error loading "find" content:', error);
            });
    };
</script>

<script>
    function loadLoginPage() {
        console.log("In log in page ")
        fetch('/login')
            .then(response => response.text())  // Parse the response as text
            .then(data => {
                // Update the content area with the fetched login form
                document.getElementById('content').innerHTML = data;
            })
            .catch(error => {
                console.error('Error fetching login form: ', error);
            });
    }

    function logIn(event){
        event.preventDefault(); // Prevent the default form submission
		console.log("in login-form iiiiiiiiiiiiiiin login-form");
        // Get form data
        const formData = new FormData(event.target);
		console.log("in login-form iin login-form");
        document.getElementById('password').addEventListener('focus', function () {
            document.getElementById('password_error').innerHTML = '';
        });

        // Send login request using Fetch API
        fetch(`/login`, {
            method: 'POST',
            body: formData,
        }).then(response =>response.json())
            .then(data => {
				if (data.status == true) {
            // Redirect or handle success as needed
					window.location.href = data.redirect;
				} else if(data.message === 'Incorrect Password !'){
                    document.getElementById('password_error').innerHTML = data.message;
                    document.getElementById('password_error').style.color = 'red';
                } else {
                    // Handle login failure
                    console.error(data.message);
					const shouldSignUp = window.confirm('Invalid credentials. Please check your username and password or sign in for new account.');     
                    // Fetch and render the signup template in the content area
                    if (shouldSignUp) {
                    // Fetch and render the signup template in the content area
                    signUp(event);
                    }
                }
            })
        .catch(error => {
            console.error('Error during login:', error);
        });
    };
</script>

<!-- Move this script block to the head or before any other script that uses these functions -->
<script>
    function checkLoginStatus() {
        var load_user_tab = document.getElementById('load-user-credential');
        var load_enroll_tab = document.getElementById('load-enrolled-courses');
        var loginLink = document.getElementById('login-link');
        var logoutLink = document.getElementById('logout-link');
        var signupLink = document.getElementById('signup-link');
        var username = document.getElementById('user-profile');
        var contactInfo = document.getElementById('load-contact-info');
        var contact = document.getElementById('load-contact');

        function removeElement(element) {
            if (element && element.parentNode) {
                element.parentNode.removeChild(element);
            }
        }

        fetch('/check_login_status')
            .then(response => response.json())
            .then(data => {
                if (data.authenticated) {
                    load_user_tab.innerHTML = 'User Records';
                    load_enroll_tab.innerHTML = 'Enroll';                    
                    removeElement(loginLink);
                    removeElement(signupLink);
                    removeElement(contact);
                    logoutLink.innerHTML = 'Logout';
                    username.innerHTML = data.username;
                } else {
                    loginLink.innerHTML = 'Login';
                    signupLink.innerHTML = 'Signup';
                    removeElement(load_user_tab);
                    removeElement(load_enroll_tab);
                    removeElement(logoutLink);
                    removeElement(username);
                    removeElement(contactInfo);
                }
            })
            .catch(error => {
                console.error('Error checking login status:', error);
            });
    }

    // Call the function when the page loads
    document.addEventListener('DOMContentLoaded', checkLoginStatus);
</script>

<script>
    function confirmLogout() {
        if (confirm("Are you sure you want to logout?")) {
            // Redirect to the logout URL
            window.location.href = "{{ url_for('logout') }}";
            document.addEventListener('DOMContentLoaded', checkLoginStatus);
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function performTableSearch() {
        var searchTerm = document.getElementById('tableSearchInput').value.toLowerCase();
        var tableRows = document.querySelectorAll('.table tbody tr');
        console.log("In Table searches ")

        tableRows.forEach(function (row) {
            var rowText = row.textContent.toLowerCase();
            var isVisible = rowText.includes(searchTerm);
            row.style.display = isVisible ? 'table-row' : 'none';
        });
    }
</script>

<script>
    function downloadExcel(tableName) {
        if (confirm('Are you sure you want to download Excel?')) {
            console.log(tableName);
            fetch('/process_form', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ tableName: tableName }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.text();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>

<script>
    function goToCourse(){
        console.log("i am in course page ")
        fetch('/courses')
            .then(response => response.text())
            .then(data => {
                // Insert the fetched content into the 'content' div
                document.getElementById('content').innerHTML = data;
            })
            .catch(error => {
                console.error('Error loading "find" content:', error);
            });
    };
</script>

</body>

</html>