<!-- 
<style>
    .login-signup-div {
    font-family: Arial, sans-serif;
    background-color: #f7dbdb;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-signup-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.login-signup-h1 {
    font-size: 40px;
    color: #333;
    margin: 0;
    margin-bottom: 20px;
}

.login-signup-label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.login-signup-input[type="text"],
.login-signup-input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-signup-input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-signup-input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-signup-input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
    transform: translateY(-3px); /* Adjust the vertical translation as needed */
}

</style>

<div class="login-signup-body">
    <form class="login-signup-form" id="login-form" method="POST" onsubmit="logIn(event)">
        <h1 class="login-signup-h1">Login</h1>
        <label class="login-signup-label" for="username">Username:</label>
        <input class="login-signup-input" type="text" id="username" name="username" required>
        <br>

        <label class="login-signup-label" for="password">Password:</label>
        <input class="login-signup-input" type="password" id="password" name="password" required>
        <span id="password_error" class="passwrod-error"> </span>
        <br>
        <input class="login-signup-input" type="submit" value="Log In">
        <br>
        <br>

        <p><a href="javascript:void(0)" onclick="forgetPassword()">Forgot Password</a></p>
        <p>Don't have an acoount ? <a href="javascript:void(0)" onclick="signUp(event)">Sign Up</a></p>
    </form>
</div> -->

    <div class="container">
        <form id="login-form" method="POST" onsubmit="logIn(event)">
            <div class="login-header">
                <p class="h2 text-center">Login</p>
            </div>
            <!-- Username input -->
            <div class="form-outline mb-4">
                <input type="text" type="text" id="username" name="username" class="form-control" required />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" required />
                <span id="password_error" class="passwrod-error"> </span><br>
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!" onclick="forgetPassword()">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4 center-align">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Don't have an account? <a href="#!" onclick="signUp(event)">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
    
</body>

</html>