<!-- <div>
    <input type="text" id="searchInput" placeholder="Search...">
    <button id="searchButton" onclick="performSearch()">Search</button>
    <ul class="searchable-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
    </ul>
</div>
 -->

 <div>
    <input type="text" id="tableSearchInput" placeholder="Search...">
    <button id="tableSearchButton" onclick="performTableSearch()">Search</button>
    <table class="searchable-table">
        <thead>
            <tr>
                <th>User_Id</th>
                <th>Record_ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>101</td>
                <td>John Doe</td>
                <td>john@example.com</td>
                <td>1990-01-01</td>
            </tr>
            <tr>
                <td>2</td>
                <td>102</td>
                <td>Johny </td>
                <td>johnny@example.com</td>
                <td>1993-03-03</td>
            </tr>
        </tbody>
    </table>
</div>


