
<style>
 .signup-div {
    font-family: Arial, sans-serif;
    background-color: #f7dbdb;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.signup-h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
    margin-bottom: 20px;
}

.signup-label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.signup-input[type="text"],
.signup-input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.signup-input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-input[type="submit"]:hover {
    background-color: #0056b3;
}
</style>

<div class="signup-div">
    {% if login_failed %}
    <script>
        alert("Invalid credentials. Please check your username and password.");
    </script>
    {% endif %}
    <form class="signup-form" method="POST" action="{{ url_for('signup') }}" onsubmit="return validateSignup()">
        
        <h1 class="signup-h1">Sign Up</h1>
        <label class="signup-label" for="username">Username:</label>
        <input class="signup-input" type="text" id="username" name="username" required>
        <br>

        <label class="signup-label" for="password">Password:</label>
        <input class="signup-input" type="password" id="password" name="password" required>
        <br>

        <input class="signup-input" type="submit" value="Sign Up"><br><br>
        <p>Already have an account? <a href="javascript:void(0)" onclick="loadLoginPage()">Log In</a></p>

    </form>  

 </div>

<script>
    function validateSignup() {
        var username = document.getElementById("username").value;
        var usernamePattern = /^[A-Za-z\s\-']+$/;

        var password = document.getElementById("password").value;

        if (!usernamePattern.test(username) || username.length < 6) {
            if (!usernamePattern.test(username)) {
                alert("Special characters not allowed in username.");
            }

            if (username.length < 5) {
                alert("Username must be at least 5 characters long.");
            }

            return false; // Prevent form submission
        }
    
        if (password.length < 3) {
            alert("Password must be at least 3 characters long.");
            return false; // Prevent form submission
        }
    
        // You can add more validation checks as needed
    
        return true; // Submit the form if all checks pass
    }
    </script>
