<div class="login-container shadow p-4 rounded">
  <div class="container">
      <form class="new-pwd-form" method="post" onsubmit="submitUpdatedPwd('{{ record.username }}')">
          <div class="login-header">
              <p class="h2 text-center">Change Password</p>
          </div>

          <div class="form-outline mb-4">
              <input type="password" id="password" name="password" class="form-control" value="{{ record.password }}" required>
              <span id="passwordError" style="color: red;"></span>
              <label for="password">Previous Password:</label>
          </div>

          <div class="form-outline mb-4">
              <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password" required>
              <span id="newPasswordError" style="color: red;"></span><span id="'oneBreak"></span>
              <label for="new_password">New Password:</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="confirmNewPasswordError" name="confirmNewPasswordError" class="form-control" placeholder="Confirm New Password" required>
            <span id="confirmNewPasswordError" style="color: red;"></span><span id="'oneBreak"></span>
            <label for="confirm_New_Password_Error">Confirm New Password:</label>
        </div>

          <button type="submit" class="btn btn-primary mb-4 center-align">Update</button>
      </form>

      <p><a id="load-home" href="javascript:void(0)" onclick="loadHomeContent()">Back to Home</a></p>
  </div>
</div>
