
<div id="admission-form">
    <div class="record_header">
        <h2>User Records</h2>
        <button type="submit" class="btn btn-primary mb-4 center-align" onclick="downloadExcel('user_credentials')">Download Excel</button>
    </div>
    <br>
    <div class="searching input-group mb-3">
        <input type="text" id="tableSearchInput" class="form-control" placeholder="Search...">
        <button id="tableSearchButton" class="btn btn-outline-secondary" onclick="performTableSearch()">Search</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User_Id</th>
                <th scope="col">Password</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.username }}</td>                    
                    <td>{{ record.password }}</td>                    
                    <td>{{ record.first_name }}</td>
                    <td>{{ record.last_name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.mobile_number }}</td>
                    <td>
                        <button class="update-button" onclick="updateUserRecord({{ record.id }})">Update</button>
                    </td>
                    
                    <td>
                        <button class="delete-button" data-record-id="{{ record.id }}" onclick="deleteUserRecord({{ record.id }})">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <!-- <p><a href="{{ url_for('layout') }}">Back to Home</a></p> -->
    <p><a id="load-home" href="javascript:void(0)" onclick="loadHomeContent()">Back to Home</a></p>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>